.table-page-navigator {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.page-description {
    margin-right: 1.25rem;
}

.data-main-container {
    height: 30rem;
}

.data-sub-container {
    width: 100%; 
    height: 100%; 
    justify-content: center
}

.data-panel {
    width: 100%; 
    overflow: auto;
}

.data-panel .table {
    margin-bottom: 0;
}

.data-panel .table thead {
    position: sticky; 
    top: 0;
}

.data-panel .table th, .data-panel .table td{
    padding: .15rem .75rem;
}