.plot-panel-container {
    width: 100%; 
    height: 100%; 
    justify-content: center;
    align-items: center;
}

.multi-select {
    text-align: left;
    max-height: 12.5rem;
    overflow: auto;
    padding: .375rem .75rem .375rem .75rem !important;
}

.multi-select input[type=checkbox] {
    margin-right: .625rem
}

.multi-select .dropdown-item {
    padding: 0
}

.multi-select .dropdown-item:last-child {
    margin-bottom: 0;
}