.process-main-container {
    display: flex; 
}

.process-input-panel {
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.view-list-container {
    width: 100%; 
    height: 100%; 
    justify-content: flex-start;
    text-align: left;;
}

.process-render-container .data-main-container {
    height: 20rem;
    padding-top: .5rem;
}

.process-render-container .data-panel-description-container {
    padding: 0;
    margin: 0;
}

.process-render-container .stats-main-container {
    height: 20rem;
    padding-top: .5rem;
}

.view-list-title {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white !important;
    opacity: 1 !important; 
}

.status-description {
    margin-bottom: 0;
    padding: .5rem 1rem;
    width: 100%;
    text-align: left;
}

.button-nav {
    margin-right: -.5rem;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    margin-left: -.5rem;
    border-bottom: 0;
}

.button-nav a:hover {
    background-color: #efefef;
    border-radius: .5rem;
}